.gridstratamientoscorporales {
  display: grid;
  grid-template-columns: 0.2fr 0.7fr 2fr 0.2fr;
  grid-template-rows: 0.2fr 0.2fr 0.3fr 5fr 2fr 0.1fr 0.1fr;
  grid-template-areas: "header header header header" ". titulo titulo ." ". main main ." ". individuales combos ." ". descripcion descripcion ." ". arriba arriba ." ". footer footer .";
}
.gridstratamientoscorporales .headercorporales {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gridstratamientoscorporales .titulotratamientoscorp {
  grid-area: titulo;
  border-bottom: solid 0.1rem;
}
.gridstratamientoscorporales .maincorporales {
  grid-area: main;
  border-bottom: solid 0.1rem;
  padding: 5rem;
  text-align: center;
}
.gridstratamientoscorporales .combostratamientoscorp {
  grid-area: combos;
}
.gridstratamientoscorporales .individualestratamientoscorp {
  grid-area: individuales;
  border-right: solid 0.1rem;
}
.gridstratamientoscorporales .beneficioscorporales {
  grid-area: descripcion;
  border-top: solid 0.1rem;
  text-align: center;
  padding-top: 2rem;
}
.gridstratamientoscorporales .volverarriba {
  grid-area: arriba;
  text-align: center;
  padding-top: 1rem;
}
.gridstratamientoscorporales .footercorporales {
  grid-area: footer;
}

.tratamientoscorporales {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
}

.fondottosindividuales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: solid 0.1rem;
  width: 25rem;
  height: 16rem;
}

.arriba {
  color: black;
}

.promo {
  border-bottom: ridge;
}

.whatsapp {
  position: fixed;
  bottom: 5rem;
  right: 3rem;
}
.whatsapp .iconowhatsapp2 {
  width: 6rem;
  border-radius: 50%;
}
.whatsapp .iconowhatsapp2:hover {
  width: 7rem;
}

@media screen and (max-width: 768px) {
  .gridstratamientoscorporales {
    grid-template-columns: 0.2fr 2fr 0.2fr;
    grid-template-rows: 0.1fr 0.1fr 0.3fr 3.7fr 1fr 1.5fr 0.1fr 0.1fr;
    grid-template-areas: "header header header" ". titulo ." ". main ." ". combos ." ". individuales." ". descripcion ." ". arriba ." ". footer .";
  }
  .gridstratamientoscorporales .headercorporales {
    justify-content: space-between;
    text-align: end;
  }
  .gridstratamientoscorporales h1 {
    font-size: 3rem;
  }
  .gridstratamientoscorporales h2 {
    font-size: 2rem;
  }
  .gridstratamientoscorporales h3 {
    font-size: 1.7rem;
  }
  .gridstratamientoscorporales h4 {
    font-size: 1.9rem;
  }
  .gridstratamientoscorporales .individualestratamientoscorp {
    border-right: none;
    border-top: solid 0.1rem;
  }
  .whatsapp {
    bottom: 3rem;
    right: 2rem;
  }
  .whatsapp .iconowhatsapp2 {
    width: 4.5rem;
  }
  .whatsapp .iconowhatsapp2:hover {
    width: 5.5rem;
  }
}
@media screen and (max-width: 500px) {
  .gridstratamientoscorporales {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.2fr 8.5fr 1.4fr 1.2fr 0.1fr 0.1fr;
    grid-template-areas: "header" "titulo" "main" "combos" "individuales" "descripcion" "arriba" "footer";
  }
  .gridstratamientoscorporales h1 {
    font-size: 2.5rem;
  }
  .gridstratamientoscorporales h2 {
    font-size: 2rem;
  }
  .gridstratamientoscorporales h4 {
    font-size: 1.5rem;
  }
}
.gridsttosfaciales {
  display: grid;
  grid-template-columns: 0.2fr 3fr 0.2fr;
  grid-template-rows: 0.2fr 0.2fr 1fr 2fr 0.1fr;
  grid-template-areas: "header header header" ". titulo ." ". main ." ". ttosfaciales ." ". footer .";
}
.gridsttosfaciales .headerfaciales {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gridsttosfaciales .titulottofacial {
  grid-area: titulo;
  border-bottom: solid 0.1rem;
}
.gridsttosfaciales .mainfaciales {
  grid-area: main;
  text-align: center;
  border-bottom: solid 0.1rem;
  padding: 5rem;
}
.gridsttosfaciales .tratamientosfaciales {
  grid-area: ttosfaciales;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
}
.gridsttosfaciales .footerfaciales {
  grid-area: footer;
}

@media screen and (max-width: 768px) {
  .gridsttosfaciales {
    grid-template-columns: 0.2fr 2fr 0.2fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 2fr 0.1fr;
    grid-template-areas: "header header header" ". titulo ." ". main ." ". ttosfaciales ." ". footer .";
  }
  .gridsttosfaciales .headerfaciales {
    justify-content: space-between;
    text-align: end;
  }
  .gridsttosfaciales h1 {
    font-size: 3rem;
  }
  .gridsttosfaciales h2 {
    font-size: 2rem;
  }
  .gridsttosfaciales h3 {
    font-size: 1.7rem;
  }
  .gridsttosfaciales h4 {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 500px) {
  .gridsttosfaciales {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "titulo" "main" "ttosfaciales" "footer";
  }
  .gridsttosfaciales h1 {
    font-size: 2.5rem;
  }
  .gridsttosfaciales h2 {
    font-size: 2rem;
  }
  .gridsttosfaciales h4 {
    font-size: 1.5rem;
  }
}
.gridsnuestroespacio {
  display: grid;
  grid-template-columns: 0.2fr 1.5fr 1fr 0.2fr;
  grid-template-rows: 0.2fr 0.2fr 1.5fr 0.2fr 1fr 0.1fr;
  grid-template-areas: "header header header header" ". titulo titulo ." ". galeria galeria ." ". ubicacion ubicacion ." ". mapa mapa ." ". footer footer .";
}
.gridsnuestroespacio .headernuestroespacio {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gridsnuestroespacio .titulonuestroespacio {
  grid-area: titulo;
  border-bottom: solid 0.1rem;
}
.gridsnuestroespacio .galeria {
  grid-area: galeria;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: solid 0.1rem;
}
.gridsnuestroespacio .tituloubicacion {
  grid-area: ubicacion;
}
.gridsnuestroespacio .ubicacion {
  grid-area: mapa;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gridsnuestroespacio .footernuestroespacio {
  grid-area: footer;
}

.ubicacion1 {
  background-image: url(../imagenes/ubicacion8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  width: 30rem;
  padding-top: 13rem;
}

.carrusel {
  width: 50rem;
  height: 70rem;
  padding: 3rem;
}

@media screen and (max-width: 768px) {
  .gridsnuestroespacio {
    grid-template-columns: 0.2fr 2fr 0.2fr;
    grid-template-areas: "header header header" ". titulo ." ". galeria ." ". ubicacion ." ". mapa ." ". footer .";
  }
  .gridsnuestroespacio .headernuestroespacio {
    justify-content: space-between;
    text-align: end;
  }
  .gridsnuestroespacio h1 {
    font-size: 3rem;
  }
  .gridsnuestroespacio h2 {
    font-size: 3rem;
  }
  .ubicacion1 {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .gridsnuestroespacio h1 {
    font-size: 2.5rem;
  }
  .gridsnuestroespacio h2 {
    font-size: 2.5rem;
  }
  .ubicacion2 {
    width: 40rem;
  }
  .carrusel {
    width: 40rem;
    height: 60rem;
  }
}
.gridscontacto {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.2fr 0.2fr 3fr 0.1fr;
  grid-template-areas: "header header header header" ". titulo titulo ." ". main formulario ." ". footer footer .";
}
.gridscontacto .headercontacto {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gridscontacto .titulocontacto {
  grid-area: titulo;
  border-bottom: solid 0.1rem;
}
.gridscontacto .maincontacto {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gridscontacto .formulario {
  grid-area: formulario;
  padding: 2rem;
}
.gridscontacto .footercontacto {
  grid-area: footer;
}

label {
  font-size: 1.3rem;
  font-weight: bold;
}

legend {
  font-weight: bold;
}

.opinion1 {
  font-size: 3.5rem;
  font-family: "Raleway", sans-serif;
}

.opinion2 {
  font-family: "Oooh Baby", cursive;
}

@media screen and (max-width: 768px) {
  .gridscontacto .headercontacto {
    justify-content: space-between;
    text-align: end;
  }
  .gridscontacto h1 {
    font-size: 3rem;
  }
  .opinion1 {
    font-size: 2.3rem;
  }
  .opinion2 {
    font-size: 2rem;
  }
  .gridscontacto {
    grid-template-rows: 0.2fr 0.2fr 2fr 0.1fr;
  }
}
@media screen and (max-width: 500px) {
  .gridscontacto {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 0.5fr 1.5fr 0.1fr;
    grid-template-areas: "header" "titulo" "main" "formulario" "footer";
  }
  .gridscontacto h1 {
    font-size: 2.5rem;
  }
  .gridscontacto h2 {
    font-size: 2rem;
  }
}
.gridslimpiezafacial {
  display: grid;
  grid-template-rows: 0.4fr 0.4fr 1fr 1fr 0.1fr 0.1fr;
  grid-template-columns: 0.3fr 2fr 1fr 0.3fr;
  grid-template-areas: "header header header header" ". titulo titulo ." ". incluye imagen ." ". beneficios imagen ." ". volver imagen ." ". footer footer .";
}
.gridslimpiezafacial .headerlimpiezafacial {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gridslimpiezafacial .titulolimpiezafacial {
  grid-area: titulo;
  justify-items: center;
  border-bottom: solid 0.1rem;
}
.gridslimpiezafacial .incluyelimpiezafacial {
  grid-area: incluye;
  margin-top: 2rem;
}
.gridslimpiezafacial .beneficioslimpiezafacial {
  grid-area: beneficios;
}
.gridslimpiezafacial .imagenlimpiezafacial {
  grid-area: imagen;
}
.gridslimpiezafacial .volveratrasfacial {
  grid-area: volver;
}
.gridslimpiezafacial .footerlimpiezafacial {
  grid-area: footer;
}

.imagenfacial {
  width: 50rem;
}

@media screen and (max-width: 768px) {
  .gridslimpiezafacial {
    grid-template-rows: 0.2fr 0.2fr 0.7fr 1fr 0.1fr 0.1fr;
    grid-template-columns: 0.3fr 1.5fr 1.5fr 0.3fr;
    grid-template-areas: "header header header header" ". titulo titulo ." ". incluye beneficios ." ". imagen imagen ." ". volver volver ." ". footer footer .";
  }
  .gridslimpiezafacial .headerlimpiezafacial {
    justify-content: space-between;
    text-align: end;
  }
  .gridslimpiezafacial h1 {
    font-size: 3rem;
  }
  .gridslimpiezafacial h3 {
    font-size: 1.7rem;
  }
  .gridslimpiezafacial li {
    font-size: 1.4rem;
  }
  .imagenlimpiezafacial {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .incluyelimpiezafacial {
    margin-left: 1rem;
  }
  .beneficioslimpiezafacial {
    margin-top: 2rem;
    margin-right: 1rem;
    border-bottom: solid 0.1rem;
  }
  .volveratrasfacial {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .incluyelimpiezafacial {
    border-bottom: solid 0.1rem;
  }
}
@media screen and (max-width: 500px) {
  .gridslimpiezafacial {
    grid-template-rows: 0.1fr 0.1fr 1.5fr 2fr 0.1fr 0.1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "titulo titulo" "incluye beneficios" "imagen imagen" "volver volver" "footer footer";
  }
  .gridslimpiezafacial h1 {
    font-size: 2.5rem;
  }
  .gridslimpiezafacial h3 {
    font-size: 1.5rem;
  }
  .gridslimpiezafacial li {
    font-size: 1rem;
  }
  .imagenfacial {
    width: 35rem;
    height: 40rem;
  }
  .imagenlimpiezafacial {
    align-items: center;
  }
}
.gridsdermaplaning {
  display: grid;
  grid-template-columns: 0.3fr 1.5fr 1.5fr 1fr 0.3fr;
  grid-template-rows: 0.2fr 0.1fr 0.5fr 0.5fr 0.1fr 0.1fr;
  grid-template-areas: "header header header header header" ". titulo titulo titulo ." ". incluye incluye imagen ." ". beneficios contraindicaciones imagen ." ". volver volver imagen ." ". footer footer footer .";
}
.gridsdermaplaning .headerdermaplaning {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gridsdermaplaning .titulodermaplaning {
  grid-area: titulo;
  border-bottom: solid 0.1rem;
}
.gridsdermaplaning .incluyedermaplaning {
  grid-area: incluye;
  padding-left: 3rem;
  padding-bottom: 1rem;
  padding-top: 3rem;
}
.gridsdermaplaning .beneficiosdermaplaning {
  grid-area: beneficios;
  padding-left: 3rem;
}
.gridsdermaplaning .contraindicacionesdermaplaning {
  grid-area: contraindicaciones;
  padding-left: 3rem;
}
.gridsdermaplaning .imagenesdermaplaning {
  grid-area: imagen;
}
.gridsdermaplaning .volveratrasdermaplaning {
  grid-area: volver;
}
.gridsdermaplaning .footerdermaplaning {
  grid-area: footer;
}

.imagendermaplaning {
  width: 55rem;
}

@media screen and (max-width: 768px) {
  .gridsdermaplaning {
    grid-template-columns: 0.3fr 1.5fr 1.5fr 0.3fr;
    grid-template-rows: 0.2fr 0.2fr 0.5fr 0.5fr 1fr 0.1fr 0.1fr;
    grid-template-areas: "header header header header " ". titulo titulo ." ". incluye incluye ." ". beneficios contraindicaciones ." ". imagen imagen ." ". volver volver ." ". footer footer .";
  }
  .gridsdermaplaning .headerdermaplaning {
    justify-content: space-between;
    text-align: end;
  }
  .gridsdermaplaning h1 {
    font-size: 3rem;
  }
  .gridsdermaplaning h3 {
    font-size: 1.7rem;
  }
  .gridsdermaplaning li {
    font-size: 1.4rem;
  }
  .beneficiosdermaplaning {
    border-bottom: solid 0.1rem;
  }
  .contraindicacionesdermaplaning {
    border-bottom: solid 0.1rem;
  }
  .imagenesdermaplaning {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .volveratrasdermaplaning {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .imagendermaplaning {
    width: 45rem;
  }
}
@media screen and (max-width: 500px) {
  .gridsdermaplaning {
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 0.2fr 0.2fr 0.5fr 0.5fr 1fr 0.1fr 0.1fr;
    grid-template-areas: "header header" "titulo titulo" "incluye incluye" "beneficios contraindicaciones" "imagen imagen" "volver volver" "footer footer";
  }
  .gridsdermaplaning h1 {
    font-size: 2.5rem;
  }
  .gridsdermaplaning h3 {
    font-size: 1.5rem;
  }
  .gridsdermaplaning li {
    font-size: 1rem;
  }
  .imagendermaplaning {
    width: 35rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 219, 219);
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  padding: 4rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  padding: 4rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2.1rem;
  font-family: "Raleway", sans-serif;
}

h5 {
  font-size: 1.8rem;
}

p {
  font-size: 1.3rem;
}

header {
  background-color: white;
}

.logo {
  width: 14rem;
  height: 14rem;
}

ol {
  list-style-type: disc;
}
ol li {
  font-size: 1.5rem;
}
ol li a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
ul li {
  font-size: 2rem;
  font-weight: bolder;
  display: inline-block;
  padding: 0.5rem;
}
ul li a {
  color: black;
  text-decoration: none;
}
ul li:hover {
  background-color: rgb(223, 239, 245);
}

a {
  color: black;
}

.gridshome {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 0.1fr 3fr 0.1fr;
  grid-template-areas: "header header" "main imagen" "footer imagen";
}
.gridshome .headerhome {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gridshome .mainhome {
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.gridshome .imagenhome {
  grid-area: imagen;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.gridshome .footerhome {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.textoprincipal {
  text-align: center;
  margin-top: 15rem;
}
.textoprincipal .titulo {
  font-family: "Oooh Baby", cursive;
  font-size: 10rem;
}
.textoprincipal .subtitulo2 {
  font-family: "Oooh Baby", cursive;
  font-size: 3.3rem;
  font-weight: bold;
}

.imagenprincipal {
  width: 65rem;
}

.iconowhatsapp {
  width: 9rem;
}

.iconoinstagram {
  width: 9rem;
}

.iconofacebook {
  width: 9rem;
}

.iconoubicacion {
  width: 9rem;
}

@media screen and (max-width: 768px) {
  .gridshome {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 2fr 0.1fr;
    grid-template-areas: "header" "main" "imagen" "footer";
  }
  .gridshome .headerhome {
    justify-content: space-between;
    text-align: start;
  }
  .imagenprincipal {
    width: 50rem;
    height: 60rem;
  }
  .imagenhome {
    align-items: center;
  }
  .textoprincipal {
    margin-top: 3rem;
    padding-bottom: 6rem;
    border-bottom: solid 0.1rem;
  }
  .textoprincipal .titulo {
    font-size: 8rem;
  }
  .textoprincipal .subtitulo2 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
    padding: 2rem;
  }
  ul li {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 500px) {
  .gridshome {
    grid-template-rows: 0.1fr 0.5fr 1.5fr 0.1fr;
  }
  .footerhome {
    justify-content: space-between;
  }
  .logo {
    width: 10rem;
    height: 10rem;
  }
  ul li {
    font-size: 1rem;
    padding: 0.2rem;
  }
  .imagenprincipal {
    width: 30rem;
    height: 40rem;
  }
  .iconowhatsapp {
    width: 6rem;
  }
  .iconoinstagram {
    width: 6rem;
  }
  .iconofacebook {
    width: 6rem;
  }
  .iconoubicacion {
    width: 6rem;
  }
  .textoprincipal .titulo {
    font-size: 7.5rem;
  }
  .textoprincipal .subtitulo2 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
footer {
  border-top: solid 0.1rem;
}
footer p {
  text-align: center;
  font-size: 1.2rem;
  padding-top: 1rem;
}

/*# sourceMappingURL=estilos.css.map */
