*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color:rgb(255, 219, 219);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 3rem;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
}
h3{
    font-size: 2rem;
}
p{
    font-size: 1.6rem;
}
header{
    background-color: white;
    height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 14rem;
    height: 14rem;
}
.logo2{
    width: 15rem;
}
.nav{
    font-size: 2rem;
    font-weight: bolder;
}
ol{
    list-style-type: disc;
}
ol li {
    font-size: 1.5rem;

}
ul{
    list-style-type: none;
}
ul li{
    display: inline-block;
    padding: 1rem;
}
li a{
    color: black;
    text-decoration: none;
}
.principal{  
    height: 65rem;  
    display: flex;  
    flex-direction: row;  
    justify-content: space-evenly;  
}
.titulo{  
    font-family: 'Oooh Baby', cursive;  
    font-size: 10rem;  
}  
.subtitulo{  
    font-family: 'Oooh Baby', cursive;  
    text-decoration: none;  
}  
.textoprincipal{   
    text-align:center;  
    width: 50rem;  
    margin-top: 10rem;  
}  
.imagenprincipal{  
    width: 60rem;  
    height: 76rem;  
    z-index: 1000;  
}  

.footer1{ 
    height: 11rem; 
    background-color:rgb(154, 182, 175) ; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
} 
.tratamientoscorporales{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gridsttoscorporales{
    display: grid;
    grid-template-columns:0.4fr 2fr 0.7fr;
    grid-template-rows: 0.4fr 6fr 0.1fr;
    grid-template-areas:
    "titulo titulo titulo"
    ". combos individuales"
    ".arriba individuales";
}
.titulottocorp{
    grid-area: titulo;
    background-color:rgb(208, 168, 168) ;
}
.combosttocorp{
    grid-area: combos;
}
.individualesttocorp{
    grid-area: individuales;
    border-left: ridge;
}
.volverarriba{
    grid-area: arriba;
}
.arriba{
    color: black;
    margin-left: 5rem;
}
.fondottosindividuales{
    text-align: center;
    border-bottom: ridge;
    border-top: ridge;
    width: 25rem;
    height: 10rem;
}
@media screen and (max-width:768px){
    .gridsttoscorporales{
        grid-template-columns: 2fr 0.7fr;
        grid-template-rows: 0.2fr 6fr 0.1fr ;
        grid-template-areas: 
        "titulo titulo"
        "combos individuales"
        "arriba individuales";
    }
    .arriba{
        margin-left: 13rem;
    }
    header{
        height: 25rem;
        flex-direction: column;
    }
    .nav{
        font-size: 1.6rem;
    }
}
@media screen and (max-width:500px){
    .gridsttoscorporales{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 6fr 1fr 0.1fr;
        grid-template-areas: 
        "titulo"
        "combos"
        "individuales"
        "arriba";
    }
    .individualesttocorp{
        border-top: ridge;
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header{
        height: 40rem;
    }
    .logo{
        width: 10rem;
    }
    h2{
        font-size: 2.3rem;
    }

}
.gridsttosfaciales{
    display: grid;
    grid-template-rows: 0.5fr 4fr;
    grid-template-areas:
    "titulo"
    "ttosfaciales";
}
.titulottofacial{
    grid-area: titulo;
    background-color:rgb(208, 168, 168) ;
}
.tratamientosfaciales{
    grid-area: ttosfaciales;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gridslimpiezafacial{
    display: grid;
    grid-template-rows: 0.1fr 0.5fr 2fr 2fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "volver imagen"
    "titulo imagen"
    "incluye imagen"
    "beneficios imagen";
}
.volveratrasfacial{
    grid-area: volver;
    padding-left: 2rem;
    padding-top: 1rem;
}
.titulolimpiezafacial{
    grid-area: titulo;
    justify-items: center;
}
.incluyelimpiezafacial{
    grid-area: incluye;
    padding-left: 3rem;
}
.beneficioslimpiezafacial{
    grid-area: beneficios;
    padding-left: 3rem;
}
.imagenlimpiezafacial{
    grid-area: imagen;
}
.imagenfacial{
    width: 50rem;
}
.gridsdermaplaning{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 1.5fr 1.5fr;
    grid-template-areas:
    "volver volver imagen"
    "titulo titulo imagen"
    "incluye incluye imagen"
    "beneficios contraindicaciones imagen";
}
.volveratrasdermaplaning{
    grid-area: volver;
    padding-left: 2rem;
    padding-top: 1rem;
}
.titulodermaplaning{
    grid-area: titulo;
}
.incluyedermaplaning{
    grid-area: incluye;
    padding-left: 3rem;
    padding-bottom: 1rem;
}
.beneficiosdermaplaning{
    grid-area: beneficios;
    padding-left: 3rem;
}
.contraindicacionesdermaplaning{
    grid-area: contraindicaciones;
    padding-left: 3rem;
}
.imagenesdermaplaning{
    grid-area: imagen;
}
.imagendermaplaning{
    width: 55rem;
}
.iconoojo{
    width:2rem;
}

.galeria{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.carrusel{
    width: 50rem;
    height: 70rem;
}
.ubicacion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ubicacion1{
    background-image: url(../imagenes/ubicacion8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    width: 30rem;
    padding-top: 13rem;
}
@media screen and (max-width: 768px){
    .carrusel{
        width: 40rem;
        height: 60rem;
    }
    .ubicacion{
        flex-direction: column;
        align-items: center;
    }
}

legend{
    font-size: 2rem;
}
label{
    display: block;
}
input{
    margin: 1rem;
}

.formulario{
    background-color: white;
    margin: 4rem;
    padding: 4rem;
    border-style:ridge;
}

footer{
    border-top: ridge;
    height: 50px;
}

div a{
    color: black;
    text-decoration: none;
}
footer p{
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1rem;
}
.iconowhatsapp{
    width: 9rem;
    padding-right: 12rem;
    padding-left: 2rem;
}
.iconoinstagram{
    width: 9rem;
    padding-right: 12rem;
}
.iconofacebook{
    width: 9rem;
    padding-right: 12rem;
}
.iconoubicacion{
    width: 9rem;

}
.iconowhatsapp2{
    width: 6rem;
    border-radius: 50%;
}
.whatsapp{
    position: fixed;
    bottom: 5rem;
    right: 3rem;

}
ul li :hover{
    background-color: rgb(223, 239, 245);
}
