

.gridslimpiezafacial{
    display: grid;
    grid-template-rows: 0.4fr 0.4fr 1fr 1fr 0.1fr 0.1fr;
    grid-template-columns: 0.3fr 2fr 1fr 0.3fr;
    grid-template-areas:
    "header header header header"
    ". titulo titulo ."
    ". incluye imagen ."
    ". beneficios imagen ."
    ". volver imagen ."
    ". footer footer .";
    .headerlimpiezafacial{
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .titulolimpiezafacial{
        grid-area: titulo;
        justify-items: center;
        border-bottom: solid 0.1rem;
    }
    .incluyelimpiezafacial{
        grid-area: incluye;
        margin-top: 2rem;
    }
    .beneficioslimpiezafacial{
        grid-area: beneficios;
    }
    .imagenlimpiezafacial{
        grid-area: imagen;
    }
    .volveratrasfacial{
        grid-area: volver;
    }
    .footerlimpiezafacial{
        grid-area: footer;
    }
}

.imagenfacial{
    width: 50rem;
}

@media screen and (max-width:768px){
    .gridslimpiezafacial{
        grid-template-rows: 0.2fr 0.2fr 0.7fr 1fr 0.1fr 0.1fr;
        grid-template-columns: 0.3fr 1.5fr 1.5fr 0.3fr;
        grid-template-areas:
        "header header header header"
        ". titulo titulo ."
        ". incluye beneficios ."
        ". imagen imagen ."
        ". volver volver ."
        ". footer footer .";
        .headerlimpiezafacial{
            justify-content: space-between;
            text-align: end;
        }
        h1{
            font-size: 3rem;
        }
        h3{
            font-size: 1.7rem;
        }
        li{
            font-size: 1.4rem;
        }
    }
    .imagenlimpiezafacial{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .incluyelimpiezafacial{
        margin-left: 1rem;
    }
    .beneficioslimpiezafacial{
        margin-top: 2rem;
        margin-right: 1rem;
        border-bottom: solid 0.1rem;
    }
    .volveratrasfacial{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .incluyelimpiezafacial{
        border-bottom: solid 0.1rem;
    }
}
@media screen and (max-width:500px){
    .gridslimpiezafacial{
        grid-template-rows: 0.1fr 0.1fr 1.5fr 2fr 0.1fr 0.1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "header header"
        "titulo titulo"
        "incluye beneficios"
        "imagen imagen"
        "volver volver"
        "footer footer";
        h1{
            font-size: 2.5rem;
        }
        h3{
            font-size: 1.5rem;
        }
        li{
            font-size: 1rem;
        }
    }
    .imagenfacial{
        width: 35rem;
        height: 40rem;
    }
    .imagenlimpiezafacial{
        align-items: center;
    }
}