
@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gridsnuestroespacio{
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 1fr 0.2fr;
    grid-template-rows: 0.1fr 0.2fr 1.5fr 0.2fr 1fr 0.1fr;
    grid-template-areas: 
    "header header header header"
    ". titulo titulo ."
    ". galeria galeria ."
    ". ubicacion ubicacion ."
    ". mapa mapa ."
    ". footer footer .";
    .headernuestroespacio{
        grid-area: header;
        @extend .header;
        justify-content: space-around;
    }
    .titulonuestroespacio{
        grid-area: titulo;
        border-bottom: solid 0.1rem;
    }
    
    .galeria{
        grid-area: galeria;
        @include flex-row-center;
        align-items: center;
        border-bottom: solid 0.1rem;
        .carrusel{
            width: 50rem;
            height: 70rem;
            padding: 3rem;
        }
    }
    .tituloubicacion{
        grid-area: ubicacion;
    }
    .ubicacion{
        grid-area: mapa;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .ubicacion1{
            background-image: url(../imagenes/ubicacion8.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            text-align: center;
            width: 30rem;
            padding-top: 13rem;
        }
    }
    
    .footernuestroespacio{
        grid-area: footer;
    }
}



@media screen and (max-width:768px){
    .gridsnuestroespacio{
        grid-template-columns: 0.2fr 2fr 0.2fr;
        grid-template-areas: 
        "header header header"
        ". titulo ."
        ". galeria ."
        ". ubicacion ."
        ". mapa ."
        ". footer .";
        .headernuestroespacio{
            justify-content: space-between;
        }
        h1{
            font-size: 3rem;
        }
        h2{
            font-size: 3rem;
        }
    }
    .ubicacion1{
        display: none;
    }
}
@media screen and (max-width:500px){
    .gridsnuestroespacio{
        h1{
            font-size: 2.5rem;
        }
        h2{
            font-size: 2.5rem;
        }
    }
    .ubicacion2{
        width: 40rem;
    }
    .carrusel{
        width: 40rem;
        height: 60rem;
    }
}