

.gridstratamientoscorporales{
    display: grid;
    grid-template-columns:0.2fr 0.7fr 2fr  0.2fr;
    grid-template-rows: 0.2fr 0.2fr 0.3fr 5fr 2fr 0.1fr 0.1fr;
    grid-template-areas:
    "header header header header"
    ". titulo titulo ."
    ". main main ."
    ". individuales combos ."
    ". descripcion descripcion ."
    ". arriba arriba ."
    ". footer footer .";

    .headercorporales{
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .titulotratamientoscorp{
        grid-area: titulo;
        border-bottom: solid 0.1rem;
    }
    .maincorporales{
        grid-area: main;
        border-bottom: solid 0.1rem;
        padding: 5rem;
        text-align: center;
    }
    .combostratamientoscorp{
        grid-area: combos;
    }
    .individualestratamientoscorp{
        grid-area: individuales;
        border-right: solid 0.1rem;
    }
    .beneficioscorporales{
        grid-area: descripcion;
        border-top: solid 0.1rem;
        text-align: center;
        padding-top: 2rem;
    }
    .volverarriba{
        grid-area: arriba;
        text-align: center;
        padding-top: 1rem;
    }
    .footercorporales{
        grid-area: footer;
    }
}

.tratamientoscorporales{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
}
.fondottosindividuales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: solid 0.1rem;
    width: 25rem;
    height: 16rem;
}
.arriba{
    color: black;
}
.promo{
border-bottom: ridge ;
}
.whatsapp{
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    .iconowhatsapp2{
        width: 6rem;
        border-radius: 50%;
        &:hover{
            width: 7rem;
        }
    }
}
@media screen and (max-width:768px){
    .gridstratamientoscorporales{
        grid-template-columns:0.2fr 0.7fr 2fr  0.2fr;
        grid-template-rows: 0.2fr 0.2fr 0.3fr 5fr 2fr 0.1fr 0.1fr;
        grid-template-areas:
        "header header header header"
        ". titulo titulo ."
        ". main main ."
        "individuales individuales combos combos"
        ". descripcion descripcion ."
        ". arriba arriba ."
        ". footer footer .";
        .headercorporales{
            justify-content: space-between;
            text-align: end;
        }
        h1{
            font-size: 3rem;
        }
        h2{
            font-size: 2rem;
        }
        h3{
            font-size: 1.7rem;
        }
        h4{
            font-size: 1.9rem;
        }
        .individualestratamientoscorp{
            border-right: none;
        }
    }
    .whatsapp{
        bottom: 3rem;
        right: 2rem;
        .iconowhatsapp2{
            width: 4.5rem;
            &:hover{
                width: 5.5rem;
            }
        }
    }
}
@media screen and (max-width:500px){
    .gridstratamientoscorporales{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 6.5fr 1fr 0.1fr 0.1fr;
        grid-template-areas:
        "header"
        "titulo"
        "main"
        "combos"
        "individuales"
        "descripcion"
        "arriba"
        "footer";
        h1{
            font-size: 2.5rem;
        }
        h2{
            font-size: 2rem;
        }
        h4{
            font-size: 1.5rem;
        }
    }
}
