

.gridsttosfaciales{
    display: grid;
    grid-template-columns: 0.2fr 3fr 0.2fr;
    grid-template-rows: 0.2fr 0.2fr 1fr 2fr 0.1fr;
    grid-template-areas:
    "header header header"
    ". titulo ."
    ". main ."
    ". ttosfaciales ."
    ". footer .";
    .headerfaciales{
        grid-area: header;
        @extend .header;
        justify-content: space-around;
    }
    .titulottofacial{
        grid-area: titulo;
        border-bottom: solid 0.1rem ;
    }
    .mainfaciales{
        grid-area: main;
        text-align: center;
        border-bottom: solid 0.1rem;
        padding: 5rem;
    }
    .tratamientosfaciales{
        grid-area: ttosfaciales;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1rem;
    }
    .footerfaciales{
        grid-area: footer;
    }
}

@media screen and (max-width:768px){
    .gridsttosfaciales{
        grid-template-columns: 0.2fr 2fr 0.2fr;
        grid-template-rows: 0.2fr 0.2fr 0.2fr 2fr 0.1fr;
        grid-template-areas:
        "header header header"
        ". titulo ."
        ". main ."
        ". ttosfaciales ."
        ". footer .";
        .headerfaciales{
            justify-content: space-between;
        }
        h1{
            font-size: 3rem;
        }
        h2{
            font-size: 2rem;
        }
        h3{
            font-size: 1.7rem;
        }
        h4{
            font-size: 1.9rem;
        }
    }
}
@media screen and (max-width:500px){
    .gridsttosfaciales{
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "titulo"
        "main"
        "ttosfaciales"
        "footer";
        h1{
            font-size: 2.5rem;
        }
        h2{
            font-size: 2rem;
        }
        h4{
            font-size: 1.5rem;
        }
    }
}