
@import "variables";
@import "tratamientoscorporales";
@import "tratamientosfaciales";
@import "nuestroespacio";
@import "contacto";
@import "limpiezaprofunda";
@import "dermaplaning";

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(241, 218, 218);

}

h1{
    font-size: 3.5rem;
    font-weight: bold;
    padding: 4rem;
    text-align: center;
}
h2{
    font-size: 3rem;
    font-weight: bold;
    padding: 4rem;
    text-align: center;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 2.1rem;
    font-family: 'Raleway', sans-serif;
}

h5{
    font-size: 1.8rem;
}
p{
    font-size: 1.3rem;
}
header{
    background-color: white;
}
.logo{
    width: 10rem;
    height: 10rem;
}

ol{
    list-style-type: disc;
    li {
        font-size: 1.5rem;
        a{
            color: black;
            text-decoration: none;
        }
    
    }
}

ul{
    list-style-type: none;
    li{
        font-size: 2rem;
        font-weight: bolder;
        display: inline-block;
        padding: 0.5rem;
        a{
            color: black;
            text-decoration: none;
        }
        &:hover{
            background-color: rgb(223, 239, 245);
        }
    }
}

a{
    color: black;
}
footer{
    border-top: solid 0.1rem;
    p{
        text-align: center;
        font-size: 1.2rem;
        padding-top: 1rem;
    }
}
.header{
    display: flex;
    flex-direction: row;
}


.gridshome{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 0.1fr 3fr 0.1fr;
    grid-template-areas: 
    "header header"
    "main imagen"
    "footer footer";
    .headerhome{
        grid-area: header;
        @extend .header;
        justify-content: space-around;
    }
    .mainhome{
        @include flex-row-center;
        grid-area: main;
        .textoprincipal{   
            text-align:center;
            margin-top: 15rem;
        }
    }
    .titulo{  
        font-family: 'Oooh Baby', cursive;  
        font-size: 10rem;  
    }
    .subtitulo2{  
        font-family: 'Oooh Baby', cursive;
        font-size: 3.3rem;
        font-weight: bold;    
    }
    .imagenhome{
        grid-area: imagen;
        @include flex-row-center;
    }
    .imagenprincipal{
        width: 50rem;
    }
    .footerhome{
        grid-area: footer;
        background-color: white;
        @extend .header;
        justify-content: space-around;
        align-items: center;
    } 
}
.iconowhatsapp{
    width: $tamanioprincipalredes;
}
.iconoinstagram{
    width: $tamanioprincipalredes;
}
.iconofacebook{
    width: $tamanioprincipalredes;
}
.iconoubicacion{
    width: $tamanioprincipalredes;

}



@media screen and (max-width:768px){
    .gridshome{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 2fr 0.1fr;
        grid-template-areas: 
        "header"
        "main"
        "imagen"
        "footer";
        .headerhome{
            justify-content: space-between;
        }
    }
    .imagenhome{
        align-items: center;
        .imagenprincipal{
            width: 60rem;
            height: 70rem;
        }
    }
    .textoprincipal{   
        margin-top: 3rem;
        padding-bottom: 6rem;
        border-bottom: solid 0.1rem;
        .titulo{    
            font-size: 8rem;  
        }
        .subtitulo2{  
            font-size: 2rem;    
        }
    }
    h2{
        font-size: 2rem;
        padding: 2rem;
    }
    ul li{
        font-size: 1.5rem;
        padding: 0.5rem;
    }

}
@media screen and (max-width:500px){
    .gridshome{
        grid-template-rows: 0.1fr 0.5fr 1.5fr 0.1fr;
    }
    .footerhome{
        justify-content: space-between;
    }
    .logo{
        width: 10rem;
        height: 10rem;
    }
    ul li{
        font-size: 1rem;
        padding: 0.2rem;
    }
    .imagenhome{
        align-items: center;
        .imagenprincipal{
            width: 40rem;
            height: 50rem;
        }
    }
    .iconowhatsapp{
        width: $tamaniosecundarioredes;
    
    }
    .iconoinstagram{
        width: $tamaniosecundarioredes;
    }
    .iconofacebook{
        width: $tamaniosecundarioredes;
    }
    .iconoubicacion{
        width: $tamaniosecundarioredes;
    
    }
    .textoprincipal{
        .titulo{    
            font-size: 7.5rem;  
        }
        .subtitulo2{  
            font-size: 1.7rem;    
        }
    }
    h2{
        font-size: 1.7rem;
    }
}

@keyframes wpp{
    0% {
        width: 6rem;
    }
    50% {
        width: 7rem;
    }
    100% {
        width: 6rem;
    }
}

